<div class="speedwell-info">
    <div class="company-info">
      <h2>Speedwell Express</h2>
      <p>
        <span class="experience">10 Years</span> Experience | Sulekha Score: <span class="score">7.0</span>
      </p>
      <p>Employees: 3</p>
      <p style="width: 80%;">
        Speedwell Express is a leading agency in India. With expertise hand in Cargo & Shipping and transportation industry, we offer a comprehensive and cost-effective solution to all your shipping needs. We are offering a wide range of services in almost all the major cities and town of India, domestic & international. To do so, we have our networks and associates in all the major cities of the country and servicing people at their door step to avoid them hassles involved in Shipping and transportation. Contact us for further details.
      </p>
    </div>
    <div class="image-gallery">
        <div class="image-gallery">
            <img src="assets/images/about1.jpg" alt="Image description">
            <img src="assets/images/about2.jpg" alt="Image description">
            <img src="assets/images/about3.jpg" alt="Image description">
            <img src="assets/images/about4.jpg" alt="Image description">
        </div>
    </div>
 
  </div>
  