<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/logo.jpeg" alt="Your Company Logo">
          <p>
            Speedwell Express is a leading agency in India. With expertise hand in Cargo & Shipping and transportation industry.
          </p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/services">Services</a></li>
         
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul>
            <li><i class="fas fa-phone"></i> +91 9822792218</li>
            <li><i class="fas fa-envelope"></i> speedwellexpress&#64;gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Shop No. 1, Sarthak Appartment, Beside Kakade Palace Marriage Hall, Karve Nagar, Kothrud, pune - 411038</li>
          </ul>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2024 Speedwell Express. All Rights Reserved.</p>
    </div>
  </footer>
  