
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 9px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #0077b1; 
  color: #fff;
}

.btn-outline-primary {
  border: 1px solid #0077b1;
  color: #0077b1;
}

/* Hero Section */

.hero {
  background-image: url("/assets/images/top-view-truck-boxes.jpg"); 
  background-size: cover;
  background-position: center;
  height: 630px; 
  align-items: center;
  text-align: center;
  color: #1c1c1c;
}

.hero-content {
  padding-top: 6rem;
  margin: auto;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Estimation Section */

.estimation {
  background-color: #f5f5f5; 
  padding: 50px; 
}

/* Services Section */

.services {
  padding: 50px 0;
}

.services h2 {
  text-align: center;
  margin-bottom: 40px; 
}

.service-card {
  text-align: center;
  margin-bottom: 30px; 
  padding: 20px; 
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease-in-out;
}

.service-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
}

.tracking-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 50%;
  margin: auto;
}

.tracking-input label {
  font-weight: bold;
  margin-bottom: 0.5rem; 
}

.tracking-input input {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease-in-out; 
}

.tracking-input input:focus {
  border-color: #999;
}

.tracking-input .error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem; 
}

.tracking-input button {
  background-color: #0077b1;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 0.5rem; 
  margin-bottom: 1rem;
}

.tracking-input button:hover {
  background-color: #0077b1;
}

@media only screen and (max-width: 768px) {
  .tracking-info-item{
    background-color:#a5dde0;
    
  }
}
