<header class="hero">
    <div class="hero-content">
      <h1>Delivering Your Packages Quickly and Safely</h1>
      <p>Get your packages where they need to be, on time and on budget.</p>
      <section class="tracking">
        <h4>Track Your Package</h4>
        <div class="tracking-input">
            <input type="text" id="trackingNumber" placeholder="Enter Tracking Number">
            <div *ngIf="trackingError" class="error">
              Tracking number is required.
            </div>
            <button (click)="trackPackage()">Track</button>
          </div>
          
      </section>
      <a href="#estimation" class="btn btn-primary">Get a Quote</a>
    </div>
  </header>
  
  <section id="estimation" class="estimation">
    <h2>Get a Free Quote</h2>
    <app-estimation></app-estimation>
  </section>
  