.services-page {
    padding: 20px;
    background-image: url("/assets/images/back8.jpg");
    background-size: cover;
 
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .hero-image {
    width: 50%;
    height: auto;
    object-fit: cover; 
  }
  
  .hero-content {
    width: 100%;
    text-align: center;
    color: black;
  }
  
  .hero h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .service-list {
    text-align: center;
  }
  
  .service-card {
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 25%; 
    margin: 10px;  
    padding: 15px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    color: black;
  }
  
  .service-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #3498db; 
  }
  
  .service-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000000; 
  }
  
  .service-card p {
    font-size: 16px;
    color: #000000; 
    margin-bottom: 0; 
  }
  
  .certifications {
    text-align: center;
    margin-top: 20px;
  }
  
  .certifications h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .certifications p {
    font-size: 16px;
    color: #000000;
  }
  
  .iso-logos {
    width: 150px; 
    margin: 10px auto; 
  }
  
  .service-card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 20px 0;
  }

  
  .service-icon {
    font-size: 24px;
    margin-top: 10px; 
    color: #3498db; 
  }